/* set margin and paddign defaults to zero */
* {
  margin: 0;
  padding: 0;
}

/* style for main body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 253, 245);
}

/** 
 * set element sizes:
 * Width is fixed
 * Height + Margin are 2vh above 100vh to prevent more than one element being in view at the same time.
 */
div {
  width: 800px;
  height: 70vh;
  margin: 16vh;
}

/* define our blue color */
.blue {
  background-color: #dcedfc;
}

/* define our green color */
.green {
  background-color: #d4ffd5;
}

/* The animation code going from a blue background color to green background color */
@keyframes blueToGreen {
  from {
    background-color: #dcedfc;
  }
  to {
    background-color: #d4ffd5;
  }
}

/* The class combination that will trigger blueToGreen animation to happen */
.intersecting.blue-to-green {
  animation-name: blueToGreen; /* animation name so it can identify keyframe */
  animation-duration: 4s; /* how long does the animation last in seconds */
  animation-fill-mode: forwards; /* let it know that we want to keep the last keyframe */
}

/* entering objects should have a zero opacity set so that we don't see them floating for a ms */
.entering {
  opacity: 0;
}

/* The animation code for an x left to right translation with an increasing opacity */
@keyframes leftToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* The class combination that will trigger leftToRight animation to happen  */
.intersecting.left-to-right {
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* The animation code for an y translation */
@keyframes bottomToTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* The class combination that will trigger bottomToTop animation to happen  */
.intersecting.bottom-to-top {
  animation-name: bottomToTop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/* The animation for a bouncy entrance! */
@keyframes slideInBottomZigZag {
  0% {
    transform: translateX(-300px) translateY(250px);
    opacity: 0;
  }
  10% {
    transform: translateX(280px) translateY(225px);
  }
  20% {
    transform: translateX(-260px) translateY(200px);
  }
  30% {
    transform: translateX(240px) translateY(175px);
  }
  40% {
    transform: translateX(-220px) translateY(150px);
  }
  50% {
    transform: translateX(200px) translateY(125px);
  }
  60% {
    transform: translateX(-180px) translateY(100px);
  }
  70% {
    transform: translateX(160px) translateY(75px);
  }
  80% {
    transform: translateX(-140px) translateY(50px);
  }
  90% {
    transform: translateX(120px) translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) translateY(0px);
  }
}

/* The class combination that will trigger slideInBottomZigZag animation to happen  */
.intersecting.slide-in-bottom-zig-zag {
  animation-name: slideInBottomZigZag;
  animation-duration: 2s;
  animation-delay: 0.75s; /* Set animation to start 0.75 seconds late to avoid Y mismatch transformation */
  animation-fill-mode: forwards;
}
