* {
  margin: 0;
  padding: 0;
}

/* style for main body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 253, 245);
}

/* set element to have viewport height */
.scrollable {
  height: 1000px;
  width: 900px;
  margin: 50px;
}

/* define our blue color */
.blue {
  background-color: #dcedfc;
}

/* define our green color */
.green {
  background-color: #d4ffd5;
}

/* The animation code going from a specific background color to another */
@keyframes blueToGreen {
  from {
    background-color: #dcedfc;
  }
  to {
    background-color: #d4ffd5;
  }
}

.intersecting.blue-to-green {
  /*animation name so it can identify keyframe */
  animation-name: blueToGreen;
  /* how long does the animation last in seconds */
  animation-duration: 4s;
  /* let it know that we want to keep the last keyframe */
  animation-fill-mode: forwards;
}

/* The animation code for an x translation */
@keyframes leftToRight {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}

.intersecting.left-to-right {
  animation-name: leftToRight;
  animation-duration: 2s;
}
